.notfound-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound-img {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.notfound-title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #6d396b;
}
